/* profile */

.profile-head{
  text-align: center;
  margin-top: 2%;
}
.image img{
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  
  
}
.card{
  border: none;
  margin-bottom: 2%;
  padding: 2%;
}
.card-head{
  text-align: center;
}
.card-body{
  padding: 5%;
}
/* repos */
.profile .card-footer{
  display: flex;
  justify-content: space-around;
}

